

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pathName" value="{{this.name}}" name="pathName" placeholder="path name" required>
        </div>
    </div>
     <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="description" value="{{this.description}}" name="description" placeholder="description" required>
        </div>
    </div>

     <div class="col-12">
        <div class="form-floating mb-3">
            <input type="file" class="form-control" id="image" value="{{this.image}}" name="image" accept="image/*" placeholder="image" required>
        </div>
    </div>

    <div class="col-12 ">
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
 
 
  
